<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{'/actor'}" th:object="${actor}" th:method="POST">
    <p>
        <th:block>
            <p th:text="${actor}"/>
        </th:block>
    </p>
    <label for="name"><h3>Imię</h3></label>
    <input id="name" th:field="${actor.name}"/>
    <label for="last_name"><h3>Nazwisko</h3></label>
    <input id="last_name" th:field="${actor.lastName}"/>
    <button type="submit">Dodaj</button>
</form>
</body>
</html>