<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<section class="content-header" th:replace="header.html"></section>
<body>
<section class="content-header" th:replace="navbar.html"></section>
<form th:action="@{'/actor'}" th:object="${actor}" th:method="POST">
    <p>
        <th:block>
    <p th:text="${actor}"/>
    </th:block>
    </p>
    <label for="name"><h3>Imię</h3></label>
    <input userId="name" th:field="${actor.name}"/>
    <label for="last_name"><h3>Nazwisko</h3></label>
    <input userId="last_name" th:field="${actor.lastName}"/>
    <button type="submit">Dodaj</button>
</form>
<section class="content-header" th:replace="footer.html"></section>
</body>
</html>