<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="assets/index/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/index/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arizonia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asset">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bad+Script">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/index/css/styles.min.css">
</head>

<body style="background-repeat:no-repeat;">
    <div></div>
    <section id="background" style="background-image:url(&quot;assets/index/img/felix-mooneeram-222805-unsplash.jpg&quot;);">
        <nav class="navbar navbar-light navbar-expand-md" style="font-size:30px;padding:-30px;">
            <div class="container-fluid"><a class="navbar-brand" href="#" style="color:#ffffff;font-size:55px;font-family:Arizonia, cursive;">TheaterApp</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1" style="color:#ffffff;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon" style="color:#ffffff;background-color:rgba(0,0,0,0.1);background-position:right;background-repeat:no-repeat;background-size:contain;"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav align-content-center mx-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="color:#ffffff;font-size:25px;font-family:'Alfa Slab One', cursive;margin:0px;padding:10px;background-color:rgba(214,182,100,0);">Home</a></li>
                        <li class="nav-item align-content-center"
                            role="presentation"><a class="nav-link d-block" href="#" style="color:#ffffff;font-size:25px;font-family:'Alfa Slab One', cursive;padding:11px;font-style:italic;">About us</a></li>
                    </ul>
                    <ul class="nav navbar-nav align-content-center">
                        <li class="nav-item" role="presentation"><a class="nav-link text-monospace active" href="/register" style="color:#ffffff;font-size:25px;font-family:'Alfa Slab One', cursive;background-color:rgba(0,0,0,0.2);">Sign In</a></li>
                        <li class="nav-item align-content-center" role="presentation"><a class="nav-link text-monospace text-capitalize d-block d-inline-flex" href="/login" style="color:#ffffff;font-size:25px;font-family:'Alfa Slab One', cursive;font-weight:normal;line-height:38px;font-style:italic;height:54px;width:111px;padding:8px;background-position:center;background-size:contain;background-repeat:no-repeat;background-color:rgba(0,0,0,0.1);">Log In</a></li>
                    </ul>
            </div>
            </div>
        </nav>
        <p class="text-monospace text-center d-block d-flex justify-content-center align-items-center align-content-center" style="background-color:rgba(0,0,0,0.1);color:#ffffff;font-size:39px;font-family:'Bad Script', cursive;margin:154px;">Short text about this page</p>
    </section>
    <div class="simple-slider" style="margin:0px;margin-top:0px;width:100%;height:100vh;">
        <div class="swiper-container">
            <div class="swiper-wrapper" style="padding:0px;">
                <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);width:100%;height:100vh;"><img src="assets/index/img/rob-laughter-491252-unsplash.jpg" style="width:100%;height:100vh;margin:0px;margin-top:0px;padding:100px;"></div>
                <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"><img class="img-fluid" src="assets/index/img/daniil-kuzelev-428715-unsplash.jpg" style="height:100vh;width:100%;background-color:rgba(255,255,255,0.4);padding:100px;"></div>
                <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"><img></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div class="team-boxed" style="width:100%;height:100vh;">
        <div class="container-fluid" style="margin-right:0px;width:100%;height:100vh;margin-left:0px;padding:0px;padding-right:0px;padding-left:0%;">
            <div class="intro">
                <h2 class="text-center">Team </h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row people" style="margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="assets/index/img/1.jpg">
                        <h3 class="name">Ben Johnson</h3>
                        <p class="title">Musician</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="assets/index/img/2.jpg">
                        <h3 class="name">Emily Clark</h3>
                        <p class="title">Artist</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="assets/index/img/3.jpg">
                        <h3 class="name">Carl Kent</h3>
                        <p class="title">Stylist</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2017</p>
        </footer>
    </div>
    <script src="assets/index/js/jquery.min.js"></script>
    <script src="assets/index/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/index/js/script.min.js"></script>
</body>

</html>