<!DOCTYPE html>
<html lang="en" ,
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<section class="content-header" th:replace="header.html"></section>
<body>
<section class="content-header" th:replace="navbar.html"></section>
<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    Logged in user: <span sec:authentication="name"></span> |
    Roles: <span sec:authentication="principal.authorities"></span>
    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
<table border="1">
    <div th:each="actor : ${actors}">
        <tr>
            <td><span th:text="${actor.userId}"></span></td>
            <td><span th:text="${actor.name}"></span></td>
            <td><span th:text="${actor.lastName}"></span></td>
        </tr>
    </div>
</table>
<section class="content-header" th:replace="footer.html"></section>
</body>
</html>