<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<section class="content-header" th:replace="header.html"></section>
<body>
<section class="content-header" th:replace="navbar.html"></section>
<table border="1">
    <div th:each="actor : ${actors}">
        <tr>
            <td><span th:text="${actor.id}"></span></td>
            <td><span th:text="${actor.name}"></span></td>
            <td><span th:text="${actor.lastName}"></span></td>
        </tr>
    </div>
</table>
<section class="content-header" th:replace="footer.html"></section>
</body>
</html>