<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<head>
    <section class="content-header" th:replace="header.html"></section>
</head>
<body>
<section class="content-header" th:replace="navbar.html"></section>
<form th:object="${user}" th:method="POST">
    <div class="form-row">
        <div class="col-md-4 mb-3 md-form">
            <label for="user-name">User</label>
            <input type="text" class="form-control" userId="user-name" th:field="${user.fName}" required>
        </div>
        <div class="col-md-4 mb-3 md-form">
            <label for="user-lastname">Password</label>
            <input type="password" class="form-control" userId="user-lastname" th:field="${user.password}" required>
        </div>
    </div>
    <!--<div class="col-md-4 mb-3 md-form">
        <label for="validationDefaultUsername22">Username</label>
        <input type="text" class="form-control" userId="validationDefaultUsername22" aria-describedby="inputGroupPrepend23"
               required>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6 mb-3 md-form">
        <label for="validationDefault22">City</label>
        <input type="text" class="form-control" userId="validationDefault22" required>
    </div>
    <div class="col-md-3 mb-3 md-form">
        <label for="validationDefault22">State</label>
        <input type="text" class="form-control" userId="validationDefault22" required>
    </div>
    <div class="col-md-3 mb-3 md-form">
        <label for="validationDefault22">Zip</label>
        <input type="text" class="form-control" userId="validationDefault22" required>
    </div>
</div>
<div class="form-group">
    <div class="form-check pl-0">
        <input class="form-check-input" type="checkbox" value="" userId="invalidCheck222" required>
        <label class="form-check-label" for="invalidCheck222">
            Agree to terms and conditions
        </label>
    </div>
</div>-->
    <a href="@{'/user'}" th:method="POST">
        <button class="btn btn-primary btn-sm" type="submit">Register</button>
    </a>
</form>
<section class="content-header" th:replace="footer.html"></section>
</body>
</html>